<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="React">
    <meta name="apple-mobile-web-app-title" content="React">
    <meta name="theme-color" content="#0080FF">
    <meta name="msapplication-navbutton-color" content="#0080FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="192x192" href="icon.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="icon.png">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  </head>
  <body>
    <noscript>
      <a href="http://enable-javascript.com/">Javascript must me enabled to use this site.</a>
    </noscript>
    <react />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  </body>
</html>
